@import './slickfix';
@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';
@import './mixins';

$slick-prev-character: url('../assets/Shape\ 1\ copy\ 2.png');
$slick-next-character: url('../assets/Shape\ 1\ copy.png');
.slick-slider{
    grid-column: span 3;
    display: flex;
    position: relative;
    //.slick-next::before,.slick-prev::before{background-color: red;}
    .slick-prev, .slick-next { 
        height: 55px; 
        width: 55px;
        z-index: 5;
    }
    .slick-prev{
        margin-left: 35px;
    }
    .slick-next{
        margin-right: 35px;
    }
    .single-item{
        width:100%;
        display: inline-block;
        position: relative;
        .img-slick-slider{
           display: flex;
           width: 100%;
        }
        .carousel-text{
            padding: 30px;
            padding-right: 15px;
            padding-top: 55px;
            height: 240px;
            width: 100%;
            background-image: url('/src/assets/gradient.png');
            position: absolute;
            bottom: 0;
            color: $text-carousel;
            .date{
                @include date();
                color: $text-carousel;
                line-height: 14.45px;
            }
            .comments{
                display: inline-block;
                img{
                    display: inline;
                    margin-left: 30px;
                    margin-bottom: -3px;
                }
            }
            h1{
                font-family: 'Bitter bold';
                font-size: 34px;
                line-height: 40.8px;
                width: 600px;
            }
            .btn-article{
                padding: 8px 20px;
                margin-top: 15px;
                background-color: transparent;
                border-color: $text-carousel;
                a{
                    color: $text-carousel;
                    text-decoration: none;
                    font-family: 'Varela Round';
                    font-size: 14px;
                } 
            }
        }
    }
}
.zoom-slider-container{
    position: relative;
    height: 400px;
    grid-column:1/span 3;
    background-color: $footer-header-bg;
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: 50% 50%;
    background-position-x: 50%;
    background-position-y: 50%;
    transition-timing-function: ease-in;
    background-blend-mode:color-burn;
   /* &:hover{
        background-image: url('../assets/Layer\ 36.png');
        background-blend-mode: normal;
        .zoom-img-lg{
            opacity: 0;
            transition: 0.3s ease-in-out;
        }
    }*/
    //background-color: #4b4b4b;
    overflow: hidden;
    @include flexCenter();
   
    .slick-slider{
        padding: 0 20px;
    }
    div.photo{
        position: absolute;
        z-index: 0;
        padding-left: 0;
        //height: 100%;
        height: 400px;
        top: 0;
        left: 0;
    }
    .zoom-img{
        position: absolute;
        &-lg{
            z-index: 0;
            padding-left: 0;
            height: 100%;
            top: 0;
        }
        &-gradient{
            bottom: 0;
            width: 100%;
        }
        &-icon{
            cursor: pointer;
            width: 80px;
        }
    }
}
.zoom-slider{
    width: 100%;
    height: 100%;
    .slick-track{
        margin-top: 260px;
    }
    .slick-slide{
        margin-right: 10px;
        margin-bottom: 20px;
        overflow: hidden;
        img{
            height: 120px;
            min-width: min-content;
            cursor: pointer;
            display: flex;
            opacity: 0.5;
            &:hover{
                opacity: 1;
                outline: 2px solid $zoom-img-hover;
            }
            &.active{
                padding: 5px 0;
                background-color: $zoom-img-active;
                opacity: 1;
                transition:ease-out 0.3s;
                &:hover{
                    background-color: $zoom-img-hover;
                }
            }
            &.ml-n30{
                margin-left: -30%;
                //margin: 0;
            }
        }
    }
   
}
.modal{
    visibility: hidden;
    background-color: rgba($color: #363F48, $alpha: 0.97);
    width: 100%;
    height: 100vh;
    padding: 100px;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 20;
    @include flexCenter();
    &-img{
        display: none;
        padding: 80px 0;
        animation-name: zoom;
        animation-duration: 0.6s;
        max-width: 100%;
    }
    &-close{
        position: fixed;
        z-index: 21;
        top: 0;
        right: 0;
        padding: 30px;
        margin: 0 30px;
        cursor: pointer;
        font-family: 'Varela Round';
        font-size: 28px;
        color: $white;
    }
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}



.photo {
    display:inline-block;
    position: relative;
}
.photo:after {
    content:'';
    display:block; 
    width:33px; 
    height:33px; 
    position:absolute; 
    top:0;
    right:0;
    background:url('../assets/Layer\ 36.png');
}

.photo img {
    display: block;
}

.photo img::selection { background-color: transparent; }
