@import './mixins';
.header{
    background-color: $footer-header-bg;
    color: $white;
    nav{
        grid-column: 1/-1;
        a{
            line-height: 27px;
            font-family: "Varela Round";
            font-size: 14px;
        }
    }
    &-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $footer-header-bg;
        & ul:last-child li{
            padding-left: 40px;
        }
        .logo {
            a{
            font-family: "Bitter";
            font-size: 24px;
            @include flexCenter();
            margin-right: 10px;
            }
        }
        &-icon{
            &-container{
                display: inline-block;
                @include flexCenter();
                width: 60px;
                height: 50px;
                background-color: rgba(255, 255, 255,0.05);
                &:hover{
                    background-color: #424242;
                    transition: ease-in 0.5s;
                }
            }
            &-search{
                width: 20px;
            }
        } 
    }
}
.categories {
    background-color: $bg-categories;
    color: $white;
    margin-bottom: 20px;
    li{
        @include flexCenter();
        height: 50px;
        padding: 0 20px;
        cursor: auto;
        a{
            font-family: "Bitter bold";
            font-size: 18px;
        }
    }   
}
.border-bottom{
    border-bottom: 4px solid;
}