@import './mixins';

.main{
    grid-column: 1/ span 2;
    grid-template-columns: repeat(2,1fr);
    background-color: $white;
    padding-top: 0;
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    &-index{
        background-color: $bg-body;
    }
    .news-list-item{
        grid-column: 1/-1;
        padding-left: 30px;
        padding-right: 10px;
        h2:first-of-type{
            margin: 15px 0;
        }
        h2{
            margin-top: 25px;
        }
        .date{
            font-size: 12px;
            font-family: 'Varela Round';
            line-height: 14.45px;
            margin:15px 30px 15px 0;
            &:first-of-type{
                margin-top: 10px;
            }
            img{
                margin-right: 4px;
            }
        }
        .row-grid{   
            display: grid;
            grid-template-columns: repeat(3,1fr);
            p{
                grid-column: 2/span 2;
                color: $text-news-p;
                font-family: 'Bitter';
                font-size: 14px;
                line-height: 22px;
            }
            .btn-news{
                grid-column-start:2;
                background-color: $bg-categories;
                color: $white;
                border: none;
                padding: 8px 20px;
                margin-top: 20px;
                margin-bottom: 65px;
                width: 120px;
                font-family: 'Varela Round';
                font-size: 14px;
                line-height: 16.86px;
                cursor: pointer;
            }
        }
    }
    .line{
        margin: 0;
        border: $bg-banner-container solid 1px;
        grid-column: 1/-1;
    }
    .page-number{
        height: 95px;
        display: flex;
        align-items: center;
        padding-left: 30px;
        margin-top: -20px;
        .number{
            font-family: 'Varela Round';
            font-size: 14px;
            line-height: 17px;
            width: 30px;
            height: 30px;
            @include flexCenter();
            background-color: $bg-banner-container;
            color: $bg-categories;
            margin-right: 5px;
            cursor: pointer;
            &.active{
                background-color: $bg-categories;
                color: $white;
                font-family: 'Varela Round';
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
}