@import './slickfix';
@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';
@mixin date {
    font-family: "Varela Round";
    font-size: 12px;
    color: $text-date;
    margin-top: 5px;
}
$slick-prev-character: url('../assets/Shape\ 1\ copy\ 2.png');
$slick-next-character: url('../assets/Shape\ 1\ copy.png');
.slick-slider{
    //height: 425px;
    grid-column: span 3;
    display: flex;
    position: relative;
    .slick-prev, .slick-next { 
        height: 55px; 
        width: 55px;
        z-index: 5;
    }
    .slick-prev{
        margin-left: 35px;
    }
    .slick-next{
        margin-right: 35px;
    }
    .single-item{
        width:100%;
        display: inline-block;
        img{
           display: flex;
        }
        .carousel-text{
            padding: 30px;
            padding-right: 15px;
            padding-top: 55px;
            height: 240px;
            background-image: url('/src/assets/gradient.png');
            position: absolute;
            bottom: 0;
            color: $text-carousel;
            .date{
                @include date();
                color: $text-carousel;
                line-height: 14.45px;
            }
            .comments{
                display: inline-block;
                img{
                    display: inline;
                    margin-left: 30px;
                    margin-bottom: -3px;
                }
            }
            h1{
                font-family: 'Bitter bold';
                font-size: 34px;
                line-height: 40.8px;
                width: 70%;
            }
            .btn-article{
                padding: 8px 20px;
                margin-top: 15px;
                background-color: transparent;
                border-color: $text-carousel;
                a{
                    color: $text-carousel;
                    text-decoration: none;
                    font-family: 'Varela Round';
                    font-size: 14px;
                }
                
            }
        }
    }
}