@import './var.scss';
@import './mixins.scss';
@import './header.scss';
@import './footer.scss';
@import './carousel.scss';
@import './banner';
@import './sidebar';
@import './main_class_and_category_html';
@import './single_html';
@import './category';
@import './slickfix';
@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';

@font-face {
    font-family: "Bitter";
    src: url(../fonts/Bitter-Regular.ttf);
}
@font-face {
    font-family: "Varela Round";
    src: url(../fonts/VarelaRound-Regular.ttf);
}
@font-face{
    font-family: "Bitter bold";
    font-style: bold;
    src: url(../fonts/Bitter-Bold.ttf);
}
@font-face{
    font-family: "Bitter italic";
    font-style: italic;
    src: url(../fonts/Bitter-Italic.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: $bg-body;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.container{
    width: 940px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    margin: 0 auto;
    font-family: "Varela Round";
}
.purple{
    height: 20px;
    background-color: $bg-categories;
}
ul{
    display: flex;
    li{
        list-style: none;
        @include flexCenter();
        a{
            color: $white;
            text-decoration: none;
        }
     }
}
.categories li{
    &:hover{
       @include purpleHover();
    }
    &.active:hover{
        background-color: $category-news;
    }
}
h2{
    font-family: "Bitter bold";
    font-size: 24px;
    color: $text-dark;
    line-height: 28.8px;
}
a{
    font-family: "Varela Round";
    color: $link;
    font-size: 14px;
}

.headline{
    font-family: "Bitter bold";
    font-size: 14px;
    color: $text-dark;
}
.date{
    @include date();
}
.category.col-span-1{
    grid-column:span 1;
}
.category.tech{
    
        grid-template-columns: repeat(2,1fr);
        column-gap: 20px;
        .column{
            padding: 0;
            margin: 0;
            img{
                width: 260px;
                height: 150px;
                margin-right: 0;
            }
        }
    
}
/*test slika za jquery-zoom*/
#test {
    margin-top: 50px;
    display:inline-block;
    position: relative;
}
#test img {
    display: block;
}
#test img::selection { background-color: transparent; }